---
import ProjectCard from "../components/ProjectCard.astro";
import PPDB from "../assets/img/PPDB-PPS-Fathul-Ulum.png";
import Budayaku from "../assets/img/budayaku.png";
import Uisi from "../assets/img/uisi-lapor.jpeg";
import Alter from "../assets/img/alter-admin.png";
import Wild from "../assets/img/wild_vs_nowild.jpg";
import QRSticker from "../assets/img/gudang_al.png";
import POSTTB from "../assets/img/kasir_ttb.png";
import PayrollEmailBlast from "../assets/img/appscript-payroll-email-blast.png";
---

<section
    id="projects"
    class="recent-blog-posts d-flex align-items-center mt-5"
  >
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <h1 class="text-center mb-5" style="font-size: 64px;">Project</h1>
      <div class="row">
        <ProjectCard
          imgSrc={PayrollEmailBlast}
          alt="Payroll Email Blast"
          title="Payroll Email Blast"
          content="Payroll Email Blast is a Google App Script that is used to send \
          payroll reports to all employees in the company."
          badge_satu="Google App Script"
          badge_dua="Google Sheet"
          badge_tiga="Gmail"
        />
        <ProjectCard
          imgSrc={QRSticker}
          alt="QR Sticker"
          title="QR Sticker"
          content="QR Sticker is a web application that is used to print QR code \
          stickers in bulk. This application is used to print QR code stickers \
          for the needs of the company's warehouse."
          badge_satu="Laravel"
          badge_dua="Bootstrap"
          badge_tiga="MySQL"
        />
        <ProjectCard
          imgSrc={POSTTB}
          alt="POS TTB"
          title="POS TTB"
          content="POS TTB is a web application that is used to record all \
          transactions in the brand store. This application is used to support \
          the needs of the company's brand store."
          badge_satu="Laravel"
          badge_dua="Bootstrap"
          badge_tiga="MySQL"
        />
        <ProjectCard
          imgSrc={PPDB}
          alt="PPDB PPS Fathul Ulum"
          title="PPDB PPS Fathul Ulum"
          content="PPDB PPS Fathul Ulum is a service system designed to facilitate \
          the automation of the implementation of New Student Admissions \
          (PPDB), from the new student registration process, selection to \
          announcement of selection results through the system."
          badge_satu="Laravel"
          badge_dua="Bootstrap"
          badge_tiga="MySQL"
        />
        <ProjectCard
          imgSrc={Budayaku}
          alt="Budayaku"
          title="Budayaku"
          content="Budayaku is a website that is expected to become the center of \
          online-based cultural competition. Competition organizer get \
          convenience in making competitions, the process of collecting \
          works, and assessment of participants' work. While participants \
          can see all competitions running and participating in it."
          badge_satu="Laravel"
          badge_dua="Bootstrap"
          badge_tiga="MySQL"
        />

        <ProjectCard
          imgSrc={Uisi}
          alt="UISI Lapor"
          title="UISI Lapor"
          content="UISI Report is a website that is used to report all problems on \
          campus, such as reporting lost items, reporting finding items, \
          and reporting damaged campus facilities."
          badge_satu="Laravel"
          badge_dua="Bootstrap"
          badge_tiga="MySQL"
        />

        <ProjectCard
          imgSrc={Alter}
          alt="Alter Admin"
          title="Alter Admin"
          content="Alter Admin is Point of Sale (POS) System is basically a \
          management system for store, where a system user can add, update \
          and delete item from menu and generate bills."
          badge_satu="Laravel"
          badge_dua="Bootstrap"
          badge_tiga="MySQL"
        />

        <ProjectCard
          imgSrc={Wild}
          alt="Wild vs No Wild Classification"
          title="Wild vs No Wild Classification"
          content="Wild vs No Wild : Flask app Using Convolutional Neural Network \
          (CNN) to recognize wild vs no wild animal with very high accuracy \
          up to 95%."
          badge_satu="Python"
          badge_dua="Tensorflow"
          badge_tiga="Flask"
        />
      </div>
    </div>
  </section>